*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: antiquewhite;
    color:darkgray;
}

img{
    width: 30%;
    height: 50%;
    border-radius: 15px;
}